In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing  import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


#load dataset
df = pd.read_csv(r"C:\Users\SUD2\Downloads\home_prices_5000.csv")
df.tail()

      Area  Bedrooms  Age   Price
4995  1355         3    8  423035
4996  2258         3   15  570503
4997  2434         4   25  689578
4998  1906         4    5  585954
4999  2167         4   24  637502

In [19]:
#check null value
df.isnull().sum()

Area        0
Bedrooms    0
Age         0
Price       0
dtype: int64

In [21]:
#sum of stastics
df.describe()

              Area     Bedrooms          Age          Price
count  5000.000000  5000.000000  5000.000000    5000.000000
mean   1805.184200     2.961000    15.085400  494031.566000
std     689.245183     1.424038     8.754647  157022.073274
min     600.000000     1.000000     0.000000   89378.000000
25%    1219.000000     2.000000     7.000000  374680.000000
50%    1804.500000     3.000000    15.000000  493394.000000
75%    2411.000000     4.000000    23.000000  612099.500000
max    3000.000000     5.000000    30.000000  886652.000000

In [22]:
#basic infomation
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Area      5000 non-null   int64
 1   Bedrooms  5000 non-null   int64
 2   Age       5000 non-null   int64
 3   Price     5000 non-null   int64
dtypes: int64(4)
memory usage: 156.4 KB

In [23]:
#feature and target value
x = df[["Area", "Bedrooms", "Age"]]
y = df["Price"]

In [24]:
#normalize of feature
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(x)

In [25]:
#split the dataset
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.8, random_state=42)

In [26]:
# Build ANN Model
model = Sequential()
model.add(Dense(10, input_dim=3, activation='relu'))  # Input + hidden layer
model.add(Dense(5, activation='relu'))                # Another hidden layer
model.add(Dense(1))                                   # Output layer

C:\Users\SUD2\.conda\envs\notebook\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [27]:
#compile model
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [28]:
#train model
model.fit(X_train, y_train, epochs = 200, verbose = 0)

In [29]:
#Evalute model
loss = model.evaluate(X_test, y_test)
print(f"test loss: {loss}")

125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 7407061504.0000
test loss: 7775396352.0

In [31]:
import numpy as np
new_home = np.array([[1500,3,5]])
new_home_scaled = scaler.transform(new_home)
predicated_price = model.predict(new_home_scaled)
print(f"predicted price for {new_home[0]}: RS {predicated_price[0][0]:.2f}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step

C:\Users\SUD2\.conda\envs\notebook\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 107ms/step
predicted price for [1500    3    5]: RS 910.97